{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h2>Connexion</h2>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            vous êtes connectée en tant que <span class="pts">{{ app.user.nom }}</span>, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    {% include "vue/connexion_card.html.twig" %}
{% endblock %}
