<div class="carte">
    <div style="border-bottom:1px solid black; text-align: left;">
        <h4 class="pts">Connexion</h4>
    </div>
    <form  method="post" class="connexion" action="{{ path("app_login") }}">
        <div style="margin-top: 5px;">
            <div class="form-champ">
                <label for="inputEmail"><i class="fas fa-envelope"></i></label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus placeholder="Votre Email">
            </div>
            <div class="form-champ">
                <label for="inputPassword"><i class="fas fa-key"></i></label>
                <input type="password" name="password" id="inputPassword" required placeholder="Votre Mot de passe">
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

        </div>
        <div class="submit">
            <button type="submit">Connexion !</button>
        </div>
    </form>
</div>