{% extends 'base.html.twig' %}

{% block title %}Discussions{% endblock %}

{% block body %}
    <a href="{{ path('probleme') }}" class="choice-1">Problèmes / Questions</a>
    <a href="{{ path('sujet') }}" class="choice-1">Discussions sur un sujet</a>
{% endblock %}
