<form method="get">
    <div class="form-champ" style="display: flex; justify-content: center; border: none;">
        <label for="recherche" style="padding: 0 5px;">Votre recherche :</label>
        <input type="text" name="recherche" id="recherche" required placeholder="Nom recherché..." style="width: 50%;">
        <button>Rechercher</button>
    </div>
</form>